{% extends "base.html" %}

{% block app_content %}
    <div id= "entryform">
        <h1>New Entry</h1>
        <div class="w-50">
            <div class = "col-md-4">
               
            </div>
        </div>
    </div>
    <div id = "table">
        <table class="table table-hover">
            <thead>
              <tr>
                  <th>ID</th>
                  <th>Entry</th>
                  <th>Project</th>
                  <th>Notes</th>
              </tr>
              </thead>    
              <tbody>
               {% for row in data %}    
                      <tr>
                          <td>{{row.id}}</td>
                          <td>{{row.entry}}</td>
                          <td>{{row.project}}</td>
                          <td>{{row.notes}}</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
    </div>


  
{% endblock %}