{% extends "base.html" %}
{% block content %}
    <h1>New Entry</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.entry.label }}<br>
            {{ form.entry(size=32) }}
            {% for error in form.entry.errors %}
            <span style="color: red;">  [{{ error }}]  </span>
            {% endfor %}
        </p>
        <p>
            {{ form.project.label }}<br>
            {{ form.project(size=32) }}
        </p>

        <p>
            {{ form.notes.label }}<br>
            {{ form.notes(size=32) }}
        </p>

        <p>
            {{ form.save.label }}
            {{ form.save(size=32) }}
        </p>
        
    </form>

  
{% endblock %}